.style-word {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.style-select {
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #606f89;
}