td {
    padding: 11px 0;
}

.group-checkbox {
    display: flex;
    grid-gap: 30px;
    align-items: center;
}

.group-customer-arrow {
    display: flex;
    grid-gap: 8px;
    align-items: center;
}

.group-background {
    cursor: pointer;
    grid-gap: 2px;
    display: flex;
}

.background-vector {
    background: #606f89;
    width: 4px;
    height: 4px;
    border-radius: 10px;
}

.customer {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #606f89;
}

.group-arrow {
    display: grid;
    grid-gap: 1px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #dae1ec;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #dae1ec;
}

.group-customer-arrow {
    display: flex;
    grid-gap: 8px;
    align-items: center;
}

.focus:focus-visible {
    border: none;
}

.apdding-left {
    padding-left: 45px;
}